# Optional: change the HTTP port if 3000 is already in use.
PORT="3000"

# Authentication settings. Change these to secure your NetKube instance.
# # https://it-tools.tech/token-generator to generate a secure session secret.
EMAIL="admin@example.com"
PASSWORD="mysecretpassword"
SESSION_SECRET="change-me"
